.btn {
    background-color: #252526;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 500;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #666666;
  }
  