.testimonial-text {
    font-family: 'Epilogue', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #2D2D2D;
    margin-bottom: 10px;
    align-self: stretch;
    text-align: left;
  }
  